<html>


  <head>




    <link rel="stylesheet" href="{{ asset('CSS/style.css') }}">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>

  </head>

{% trans_default_domain 'FOSUserBundle' %}

<body>

    <h1>BIENVENUE!<span>Connectez-vous!</span>
        {% if error %}
        <div class="alert alert-danger">mot de passe et/ou mail incorrect</div>
        {% endif %}

    </h1>
    <div class="login-box">
        <form id="loginform" class="form-horizontal" role="form" action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <input type="text" id="username" name="_username"  value="Nom utilisateur" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nom utilisateur';}" required="required" />

            <input type="password" id="password" name="_password"  value="Mot de passe" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mot de passe';}" required="required" />

        <div class="remember">
            <h4><input id="login-remember" type="checkbox" name="remember" value="1"> Remember me</h4>
            <div class="clear"> </div>
            <h4>Mot de passe oublié?<a href="{{ path('fos_user_resetting_request') }}">Cliquer ici.</a></h4>
        </div>
        <div class="clear"> </div>
        <div class="btn btn-success">
            <input type="submit"  name="_submit" value="Se connecter" >
        </div>

        </form>
        <div class="clear"> </div>
    </div>
    <!--//End-login-form-->
    <!--start-copyright-->
    <div class="copy-right">
        <p>GAlter' team UPJV 2015</p>
    </div>

    </body>

</html>