{%  extends "GAlterUserBundle::layout.html.twig" %}
{% block corps%}
    <h1>Agenda list</h1>


   <table>
       <thead class="table table-stripted">
        <th>Etudiant</th>
        <th>Prendre RDV</th>
       </thead>
       <tbody>
       {% for entity in entities %}
           <tr>
              <td>{{ entity }}</td>
              <td><a class="btn btn-success" href="{{ path('agenda_new', {'id': entity.id}) }}">RDV</a></td>
           </tr>
       {% endfor %}
       </tbody>

   </table>


{% endblock %}
